.primaryColor {
	color: #2ea3ad !important;
}

.secondaryColor {
	color: #F1703D !important;
}

.bgPrimaryColor {
	background-color: #2ea3ad !important;
}

.bgSecondaryColor {
	background-color: #F1703D !important;
}
