<!-- Footer -->
<footer class="page-footer font-small elegant-color">
    <div class="bgPrimaryColor" style="height: 5px; width: 100%;"></div>

    <!-- Footer Links -->
    <div class="text-center text-md-left py-4 px-5">
        <!-- Grid row -->
        <div class="row">

            <!-- About Us -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold mt-3 mb-4 border-bottom">About Us</h5>

                <p class="text-justify">Medical Way is responsive health theme for doctors, hospitals, medical clinics, pediatric, dental, gynecology, general therapist and all medial websites. Get perfect, modern and professional website with no coding knowledge. Making your
                    website your own is easier than ever before with Medical Way.</p>

            </div>
            <!-- About Us -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Recent Posts -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold mt-3 mb-4 border-bottom">Recent Posts</h5>

                <ul class="list-unstyled">
                    <li class="border-bottom py-2">
                        <a href="#!">Aliquam mollis consequat est</a>
                    </li>
                    <li class="border-bottom py-2">
                        <a href="#!">Quisque pretium sodales arcu</a>
                    </li>
                    <li class="border-bottom py-2">
                        <a href="#!">Nibh dignissim ornare egestas</a>
                    </li>
                    <li class="border-bottom py-2">
                        <a href="#!">Donec pretium aliquet dapibus</a>
                    </li>
                </ul>

            </div>
            <!-- Recent Posts -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Recent Posts -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold mt-3 mb-4 border-bottom">Opening Hours</h5>

                <ul class="list-unstyled">
                    <li class="border-bottom py-2">
                        Monday - Friday : 06:00 Am - 08:00 Pm
                    </li>
                    <li class="border-bottom py-2">
                        Saturday : 08:00 Am - 04:00 Pm
                    </li>
                    <li class="border-bottom py-2">
                        Sunday : 10:00 Am - 02:00 Pm
                    </li>
                    <li class="border-bottom py-2">
                        Emergency : (anytime call us)
                    </li>
                </ul>

            </div>
            <!-- Recent Posts -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold mt-3 mb-4 border-bottom">Search Here</h5>

                <!-- Search form -->
                <div class="active-cyan-4 mb-4">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="/">Mankind Medicare</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/plugins/bootstrap-datetimepicker.js"></script>
<script src="js/plugins/jquery.sharrre.js"></script>
<script src="js/plugins/moment.min.js"></script>
<script src="js/plugins/nouislider.min.js"></script>
<script src="js/core/bootstrap-material-design.min.js"></script>
<script src="js/core/jquery.min.js"></script>
<script src="js/core/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/mdb.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/material-kit.min.js"></script>
<script src="js/style.js"></script>